<div id="game"></div>

<script src="/scripts/libraries/crafty/dist/crafty.js"></script>
<script src="/scripts/libraries/socket.io-client/socket.io.js"></script>
<script src="/scripts/app/index.js"></script>
